.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: black;
}
body{
    background-size: cover;
    font-family: cursive;
}
.div_speed{
    float: left;
}
.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}

.div_volume{
    float: right;
}
.div_volume_img{
    width: 200px;
    border-radius: 100px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}
#playsound, #stopsound{
    width: 130px;
    font-size: 20px;
}
canvas{
    border-radius: 50px;
    margin-top: 50px;
    border: 5px solid lightgreen;

}